body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background-color: #6C69B3;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 80px;
    margin-left: calc( (100% - 800px) / 2 );
}
    .left {
        display: inline-block;
        width: 40%;
        float: left;
        background-color: #1355A9;
    }
    .right {
        display: inline-block;
        width: 60%;
        float: left;
        padding: 60px;
        background-color: #FFF;
    }
        .right > .x {
        }
        .right > form {
        }

form > .form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}
    form > .form-row > label {
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
    }
    form > .form-row > input {
        display: inline-block;
        width: 100%;
    }




